.package {
    border: 1px solid rgba(128, 128, 128, 0.281);
    width: 50%;
    height: 93%;
    display: flex;
    gap: 10%;
    padding-left: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
}