.container {
    position: relative;
    display: flex;
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: #f8f9fa;
    color: black;
    font-family: arial, sans-serif;
    overflow: hidden;
}

.content {
    position: relative;
    width: 600px;
    max-width: 100%;
    margin: 20px;
    background: white;
    padding: 60px 40px;
    text-align: center;
    box-shadow: -10px 10px 67px -12px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: apparition 0.8s 1.2s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
}

.content p {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 0.6rem;
    letter-spacing: 0.1rem;
    color: #595959;
}

.content p:last-child {
    margin-bottom: 0;
}

.content button {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border: 3px solid #595959;
    background: transparent;
    font-size: 1rem;
    color: #595959;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.particle {
    position: absolute;
    display: block;
    pointer-events: none;
}

.particle:nth-child(1) {
    top: 50.184501845%;
    left: 25.6663376111%;
    font-size: 13px;
    filter: blur(0.02px);
    animation: 35s float infinite;
}

.particle:nth-child(2) {
    top: 32.9297820823%;
    left: 31.1890838207%;
    font-size: 26px;
    filter: blur(0.04px);
    animation: 29s floatReverse2 infinite;
}

.particle:nth-child(3) {
    top: 22.5214198286%;
    left: 83.5791543756%;
    font-size: 17px;
    filter: blur(0.06px);
    animation: 37s float2 infinite;
}

.particle:nth-child(4) {
    top: 33.04981774%;
    left: 50.8308895406%;
    font-size: 23px;
    filter: blur(0.08px);
    animation: 25s floatReverse infinite;
}

.particle:nth-child(5) {
    top: 42.2085889571%;
    left: 59.1133004926%;
    font-size: 15px;
    filter: blur(0.1px);
    animation: 34s floatReverse2 infinite;
}

.particle:nth-child(6) {
    top: 71.0462287105%;
    left: 22.5048923679%;
    font-size: 22px;
    filter: blur(0.12px);
    animation: 38s float infinite;
}

.particle:nth-child(7) {
    top: 40.1960784314%;
    left: 74.8031496063%;
    font-size: 16px;
    filter: blur(0.14px);
    animation: 28s float infinite;
}

.particle:nth-child(8) {
    top: 67.8787878788%;
    left: 29.2682926829%;
    font-size: 25px;
    filter: blur(0.16px);
    animation: 26s floatReverse infinite;
}

.particle:nth-child(9) {
    top: 49.57472661%;
    left: 33.2355816227%;
    font-size: 23px;
    filter: blur(0.18px);
    animation: 32s float2 infinite;
}

.particle:nth-child(10) {
    top: 93.7728937729%;
    left: 91.2659470069%;
    font-size: 19px;
    filter: blur(0.2px);
    animation: 30s floatReverse infinite;
}

.particle:nth-child(11) {
    top: 57.9010856454%;
    left: 68.9990281827%;
    font-size: 29px;
    filter: blur(0.22px);
    animation: 36s floatReverse infinite;
}

.particle:nth-child(12) {
    top: 45.2088452088%;
    left: 73.9644970414%;
    font-size: 14px;
    filter: blur(0.24px);
    animation: 30s float infinite;
}

.particle:nth-child(13) {
    top: 12.7139364303%;
    left: 50.0982318271%;
    font-size: 18px;
    filter: blur(0.26px);
    animation: 40s float infinite;
}

.particle:nth-child(14) {
    top: 92.7536231884%;
    left: 69.0661478599%;
    font-size: 28px;
    filter: blur(0.28px);
    animation: 39s float infinite;
}

.particle:nth-child(15) {
    top: 1.9464720195%;
    left: 50.8806262231%;
    font-size: 22px;
    filter: blur(0.3px);
    animation: 36s floatReverse infinite;
}

.particle:nth-child(16) {
    top: 26.1501210654%;
    left: 29.2397660819%;
    font-size: 26px;
    filter: blur(0.32px);
    animation: 29s floatReverse2 infinite;
}

.particle:nth-child(17) {
    top: 16.4449818622%;
    left: 53.5540408958%;
    font-size: 27px;
    filter: blur(0.34px);
    animation: 39s float2 infinite;
}

.particle:nth-child(18) {
    top: 83.0917874396%;
    left: 17.5097276265%;
    font-size: 28px;
    filter: blur(0.36px);
    animation: 35s floatReverse2 infinite;
}

.particle:nth-child(19) {
    top: 64.7058823529%;
    left: 45.2755905512%;
    font-size: 16px;
    filter: blur(0.38px);
    animation: 36s float infinite;
}

.particle:nth-child(20) {
    top: 20.3143893591%;
    left: 83.7390457644%;
    font-size: 27px;
    filter: blur(0.4px);
    animation: 22s float infinite;
}

.particle:nth-child(21) {
    top: 86.9352869353%;
    left: 83.4151128557%;
    font-size: 19px;
    filter: blur(0.42px);
    animation: 31s floatReverse2 infinite;
}

.particle:nth-child(22) {
    top: 53.6585365854%;
    left: 53.9215686275%;
    font-size: 20px;
    filter: blur(0.44px);
    animation: 25s floatReverse2 infinite;
}

.particle:nth-child(23) {
    top: 25.6157635468%;
    left: 41.5019762846%;
    font-size: 12px;
    filter: blur(0.46px);
    animation: 30s float2 infinite;
}

.particle:nth-child(24) {
    top: 49.156626506%;
    left: 90.2912621359%;
    font-size: 30px;
    filter: blur(0.48px);
    animation: 40s float infinite;
}

.particle:nth-child(25) {
    top: 11.8226600985%;
    left: 41.5019762846%;
    font-size: 12px;
    filter: blur(0.5px);
    animation: 34s float infinite;
}

.particle:nth-child(26) {
    top: 52.6829268293%;
    left: 32.3529411765%;
    font-size: 20px;
    filter: blur(0.52px);
    animation: 25s floatReverse2 infinite;
}

.particle:nth-child(27) {
    top: 71.9319562576%;
    left: 93.8416422287%;
    font-size: 23px;
    filter: blur(0.54px);
    animation: 33s float infinite;
}

.particle:nth-child(28) {
    top: 0.9840098401%;
    left: 36.5251727542%;
    font-size: 13px;
    filter: blur(0.56px);
    animation: 38s float infinite;
}

.particle:nth-child(29) {
    top: 85.7831325301%;
    left: 45.6310679612%;
    font-size: 30px;
    filter: blur(0.58px);
    animation: 36s float2 infinite;
}

.particle:nth-child(30) {
    top: 62.6682986536%;
    left: 9.8328416912%;
    font-size: 17px;
    filter: blur(0.6px);
    animation: 40s floatReverse2 infinite;
}

.particle:nth-child(31) {
    top: 28.2582216809%;
    left: 32.3212536729%;
    font-size: 21px;
    filter: blur(0.62px);
    animation: 23s float infinite;
}

.particle:nth-child(32) {
    top: 76.8856447689%;
    left: 97.8473581213%;
    font-size: 22px;
    filter: blur(0.64px);
    animation: 29s float2 infinite;
}

.particle:nth-child(33) {
    top: 63.1067961165%;
    left: 47.8515625%;
    font-size: 24px;
    filter: blur(0.66px);
    animation: 40s floatReverse2 infinite;
}

.particle:nth-child(34) {
    top: 0.9685230024%;
    left: 16.5692007797%;
    font-size: 26px;
    filter: blur(0.68px);
    animation: 38s floatReverse infinite;
}

.particle:nth-child(35) {
    top: 72.5513905683%;
    left: 81.7916260954%;
    font-size: 27px;
    filter: blur(0.7px);
    animation: 29s float2 infinite;
}

.particle:nth-child(36) {
    top: 36.8932038835%;
    left: 94.7265625%;
    font-size: 24px;
    filter: blur(0.72px);
    animation: 40s floatReverse2 infinite;
}

.particle:nth-child(37) {
    top: 15.6479217604%;
    left: 63.8506876228%;
    font-size: 18px;
    filter: blur(0.74px);
    animation: 24s float infinite;
}

.particle:nth-child(38) {
    top: 14.4578313253%;
    left: 92.2330097087%;
    font-size: 30px;
    filter: blur(0.76px);
    animation: 33s floatReverse infinite;
}

.particle:nth-child(39) {
    top: 43.2964329643%;
    left: 85.8835143139%;
    font-size: 13px;
    filter: blur(0.78px);
    animation: 39s float infinite;
}

.particle:nth-child(40) {
    top: 33.4563345633%;
    left: 14.8075024679%;
    font-size: 13px;
    filter: blur(0.8px);
    animation: 33s floatReverse2 infinite;
}

.particle:nth-child(41) {
    top: 79.6068796069%;
    left: 89.7435897436%;
    font-size: 14px;
    filter: blur(0.82px);
    animation: 33s floatReverse2 infinite;
}

.particle:nth-child(42) {
    top: 11.7936117936%;
    left: 61.1439842209%;
    font-size: 14px;
    filter: blur(0.84px);
    animation: 28s floatReverse infinite;
}

.particle:nth-child(43) {
    top: 61.7611580217%;
    left: 11.6618075802%;
    font-size: 29px;
    filter: blur(0.86px);
    animation: 34s floatReverse infinite;
}

.particle:nth-child(44) {
    top: 35.8353510896%;
    left: 78.9473684211%;
    font-size: 26px;
    filter: blur(0.88px);
    animation: 31s float2 infinite;
}

.particle:nth-child(45) {
    top: 0.9720534629%;
    left: 94.8191593353%;
    font-size: 23px;
    filter: blur(0.9px);
    animation: 27s float2 infinite;
}

.particle:nth-child(46) {
    top: 52.3636363636%;
    left: 90.7317073171%;
    font-size: 25px;
    filter: blur(0.92px);
    animation: 22s float infinite;
}

.particle:nth-child(47) {
    top: 74.3961352657%;
    left: 88.5214007782%;
    font-size: 28px;
    filter: blur(0.94px);
    animation: 31s floatReverse infinite;
}

.particle:nth-child(48) {
    top: 69.6932515337%;
    left: 90.6403940887%;
    font-size: 15px;
    filter: blur(0.96px);
    animation: 27s float2 infinite;
}

.particle:nth-child(49) {
    top: 48.7210718636%;
    left: 65.6219392752%;
    font-size: 21px;
    filter: blur(0.98px);
    animation: 23s float infinite;
}

.particle:nth-child(50) {
    top: 37.7723970944%;
    left: 38.0116959064%;
    font-size: 26px;
    filter: blur(1px);
    animation: 36s float infinite;
}

.particle:nth-child(51) {
    top: 17.4757281553%;
    left: 24.4140625%;
    font-size: 24px;
    filter: blur(1.02px);
    animation: 36s floatReverse infinite;
}

.particle:nth-child(52) {
    top: 6.8711656442%;
    left: 23.645320197%;
    font-size: 15px;
    filter: blur(1.04px);
    animation: 36s float2 infinite;
}

.particle:nth-child(53) {
    top: 81.4545454545%;
    left: 74.1463414634%;
    font-size: 25px;
    filter: blur(1.06px);
    animation: 31s floatReverse2 infinite;
}

.particle:nth-child(54) {
    top: 50.4854368932%;
    left: 0.9765625%;
    font-size: 24px;
    filter: blur(1.08px);
    animation: 31s float2 infinite;
}

.particle:nth-child(55) {
    top: 70.8737864078%;
    left: 71.2890625%;
    font-size: 24px;
    filter: blur(1.1px);
    animation: 38s float infinite;
}

.particle:nth-child(56) {
    top: 85.5407047388%;
    left: 35.1906158358%;
    font-size: 23px;
    filter: blur(1.12px);
    animation: 29s floatReverse2 infinite;
}

.particle:nth-child(57) {
    top: 0.9661835749%;
    left: 81.7120622568%;
    font-size: 28px;
    filter: blur(1.14px);
    animation: 36s float2 infinite;
}

.particle:nth-child(58) {
    top: 89.3251533742%;
    left: 92.6108374384%;
    font-size: 15px;
    filter: blur(1.16px);
    animation: 30s float2 infinite;
}

.particle:nth-child(59) {
    top: 38.4710234279%;
    left: 9.8911968348%;
    font-size: 11px;
    filter: blur(1.18px);
    animation: 39s floatReverse2 infinite;
}

.particle:nth-child(60) {
    top: 61.9164619165%;
    left: 23.6686390533%;
    font-size: 14px;
    filter: blur(1.2px);
    animation: 24s float2 infinite;
}

.particle:nth-child(61) {
    top: 96.5018094089%;
    left: 9.7181729835%;
    font-size: 29px;
    filter: blur(1.22px);
    animation: 23s float infinite;
}

.particle:nth-child(62) {
    top: 5.8968058968%;
    left: 80.8678500986%;
    font-size: 14px;
    filter: blur(1.24px);
    animation: 38s float infinite;
}

.particle:nth-child(63) {
    top: 16.4251207729%;
    left: 84.6303501946%;
    font-size: 28px;
    filter: blur(1.26px);
    animation: 28s floatReverse infinite;
}

.particle:nth-child(64) {
    top: 8.8452088452%;
    left: 66.0749506903%;
    font-size: 14px;
    filter: blur(1.28px);
    animation: 38s float infinite;
}

.particle:nth-child(65) {
    top: 70.8487084871%;
    left: 51.3326752221%;
    font-size: 13px;
    filter: blur(1.3px);
    animation: 35s floatReverse infinite;
}

.particle:nth-child(66) {
    top: 14.6878824969%;
    left: 82.5958702065%;
    font-size: 17px;
    filter: blur(1.32px);
    animation: 30s floatReverse infinite;
}

.particle:nth-child(67) {
    top: 79.9013563502%;
    left: 67.2601384768%;
    font-size: 11px;
    filter: blur(1.34px);
    animation: 26s floatReverse infinite;
}

.particle:nth-child(68) {
    top: 9.696969697%;
    left: 43.9024390244%;
    font-size: 25px;
    filter: blur(1.36px);
    animation: 38s float2 infinite;
}

.particle:nth-child(69) {
    top: 23.3576642336%;
    left: 95.8904109589%;
    font-size: 22px;
    filter: blur(1.38px);
    animation: 28s float infinite;
}

.particle:nth-child(70) {
    top: 2.9520295203%;
    left: 81.9348469891%;
    font-size: 13px;
    filter: blur(1.4px);
    animation: 21s float infinite;
}

.particle:nth-child(71) {
    top: 70.0729927007%;
    left: 59.686888454%;
    font-size: 22px;
    filter: blur(1.42px);
    animation: 34s floatReverse2 infinite;
}

.particle:nth-child(72) {
    top: 63.6144578313%;
    left: 59.2233009709%;
    font-size: 30px;
    filter: blur(1.44px);
    animation: 30s float2 infinite;
}

.particle:nth-child(73) {
    top: 4.8959608323%;
    left: 67.8466076696%;
    font-size: 17px;
    filter: blur(1.46px);
    animation: 28s floatReverse2 infinite;
}

.particle:nth-child(74) {
    top: 70.5882352941%;
    left: 33.4645669291%;
    font-size: 16px;
    filter: blur(1.48px);
    animation: 29s floatReverse infinite;
}

.particle:nth-child(75) {
    top: 49.2753623188%;
    left: 16.5369649805%;
    font-size: 28px;
    filter: blur(1.5px);
    animation: 35s floatReverse infinite;
}

.particle:nth-child(76) {
    top: 19.728729963%;
    left: 70.2274975272%;
    font-size: 11px;
    filter: blur(1.52px);
    animation: 24s float2 infinite;
}

.particle:nth-child(77) {
    top: 24.1837968561%;
    left: 67.1859785784%;
    font-size: 27px;
    filter: blur(1.54px);
    animation: 29s float infinite;
}

.particle:nth-child(78) {
    top: 22.2760290557%;
    left: 19.4931773879%;
    font-size: 26px;
    filter: blur(1.56px);
    animation: 30s floatReverse2 infinite;
}

.particle:nth-child(79) {
    top: 95.2147239264%;
    left: 58.1280788177%;
    font-size: 15px;
    filter: blur(1.58px);
    animation: 39s float infinite;
}

.particle:nth-child(80) {
    top: 79.7083839611%;
    left: 21.5053763441%;
    font-size: 23px;
    filter: blur(1.6px);
    animation: 38s float infinite;
}

@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(180px);
    }
}

@keyframes floatReverse {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-180px);
    }
}

@keyframes float2 {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(28px);
    }
}

@keyframes floatReverse2 {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-28px);
    }
}