.Home {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f8f9fa;
}

.Home .left {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    padding-top: 30px;
}

.Home .left h1.heading {
    margin: 10px;
    font-size: 40px;
}

.Home .left p {
    margin: 10px;
    font-size: 15px;
    letter-spacing: 0.25px;
}

.Home .left p.Examples {
    margin-top: 20px;
}

.Home .left .search {
    margin-right: 30px;
    margin-top: 20px;
    background-color: #e8eaed;
    width: 600px;
    max-width: 700px;
    min-width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    padding: 20px;
}

.Home .left .search input {
    height: 40px;
    width: 515px;
    max-width: 615px;
    border: none;
    letter-spacing: 0.25px;
    margin-right: 10px;
    font-size: 16px;
    font-family: 500 14px/20px 'Google Sans', Arial, Helvetica, sans-serif;
    outline: none;
    color: #202124;
    background-color: #e8eaed;
}

.Home .right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Home .right .summary {
    padding-top: 20px;
    width: 70%;
    max-width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 20px;
    background-color: black;
    border-radius: 6px;
    padding-right: 20px;
    -webkit-box-shadow: 6px 6px 6px 2px rgba(5, 0, 0, 0.53);
    box-shadow: 6px 6px 6px 2px rgba(5, 0, 0, 0.53);
}

.Home .right .summary .row_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 30px;
    padding-top: 30px;
}

.Home .right .summary .row_1 h1,
.Home .right .summary .row_1 p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.Home .right .summary .row_1 p {
    padding-top: 9px;
    font-size: 16px;
}

.Home .right .summary .row_1 h1 {
    font-size: 30px;
}

.Home .right .summary p.description {
    color: white;
    padding-top: 12px;
}

.Home .right .summary .row_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    height: 30px;
}

.Home .right .summary .row_2 .line {
    border-left-style: solid;
    border-left-width: 2px;
    color: #dadce0;
    content: '';
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    width: 2px;
}

.Home .right .summary .row_2 p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.Home .right .summary .row_2 a {
    text-decoration: none;
    transition: 0.5s ease;
    color: white;
}

.Home .right .summary .row_2 a:hover {
    text-decoration: underline;
}

.Home .right .summary .codeBlock {
    background-color: white;
    width: 60%;
    max-width: 400px;
    height: 50px;
    padding-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Home .right .summary .codeBlock code {
    color: black;
    font-size: 16px;
}

.Home .right .summary .codeBlock button.copy {
    margin-right: 20px;
    background-color: white;
    outline: none;
    border-color: black;
    border-radius: 6px;
    cursor: pointer;
}

.Home .right .summary p.downloads,
.Home .right .summary p.keywords {
    letter-spacing: 0.25px;
    color: white;
}