.Navbar {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: #fff;
    box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
    ;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
}

.Navbar .line {
    border-left-style: solid;
    border-left-width: 2px;
    color: #dadce0;
    content: '';
    height: 38px;
    margin-left: 30px;
    width: 2px;
}

.Navbar .search {
    margin-left: 20px;
    margin-right: 30px;
    background-color: #e8eaed;
    width: 500px;
    max-width: 500px;
    padding: 20px;
    min-width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
}

.Navbar .search input {
    height: 40px;
    width: 415px;
    max-width: 415px;
    border: none;
    letter-spacing: 0.25px;
    margin-right: 25px;
    font-size: 16px;
    font-family: 500 14px/20px 'Google Sans', Arial, Helvetica, sans-serif;
    outline: none;
    color: #202124;
    background-color: #e8eaed;
}

.Navbar a {
    color: #000;
    padding-top: 3.5px;
    position: absolute;
    right: 20px;
    transition: 0.5s;
}

.Navbar a:hover {
    color: #5c5c5c;
}

@media screen and (max-width: 734px) {
    .Navbar a {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .Navbar .logo img {
        padding-left: 10px;
    }

    .Navbar .line {
        display: none;
    }

    .Navbar .search {
        margin-left: 20px;
    }
}

@media screen and (max-width: 680px) {
    .Navbar .search img {
        margin-left: 10px;
    }

    .Navbar .search input {
        margin-left: 10px;
    }
}

@media screen and (max-width: 411px) {
    .Navbar .search {
        margin-right: 20px;
    }

    .Navbar .logo {
        display: none;
    }
}

@media screen and (max-width: 301px) {
    .Navbar .search {
        width: 300px;
    }

    .Navbar .search img {
        display: none;
    }
}